# Computation
pyvista
imageio
numpy
PyQt5
scipy
pandas
pyyaml
dash

# Testing
pytest-cov
pytest-html
pytest-subtests
mypy
types-PyYAML

# Custom
git+https://github.com/LonghornRacingElectric/tire_analysis@LHR_tire_toolkit_package
